@model DishCagetoryEditViewModel
@{
    ViewData["Title"] = Localizer["DishCategory"];
    ViewData["SubTitle"] = Localizer["Create"];
    var message = ViewBag.Notice as NoticeModel;
    var path = ViewData["path"] != null ? ViewData["path"] : "";
    var name = ViewData["name"] != null ? ViewData["name"] : "";
    var groupClass = ViewData["groupClass"] != null ? ViewData["groupClass"] : "form-group";
    var labelClass = ViewData["labelClass"] != null ? ViewData["labelClass"] : "col-md-3";
    var fieldClass = ViewData["fieldClass"] != null ? ViewData["fieldClass"] : "col-md-8";
}

<div class="hr-divider">
    <h3 class="hr-divider-content hr-divider-heading">
        @ViewData["Title"]
    </h3>
</div>
<div notice-for="message"></div>
<div class="content col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <form name="Create" asp-action="Create" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <fieldset name="@path" data-name="@name">
            <div class="form-group">       
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="Name">@Localizer["Name"]:</label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>
                </div>
     
</div>
        </fieldset>
        <hr />
        <div class="form-group">
            <div class="form-actions col-md-offset-3 col-md-9">

                <a class="btn btn-default" href="/FoodOrder/DishCategory">
                    <span class="icon icon-action-back"></span>
                    [Back]
                </a>
                <button type="submit" class="btn btn-primary">
                    <span class="icon icon-action-save"></span>
                    [Save changes]
                </button>
            </div>
        </div>
    </form>
</div>


@section navigation {
    <a asp-action="Index" asp-route-id="" icon-name="action-back" class="btn btn-default-outline">
        @Localizer["Back"]
    </a>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}